<div class="jumbotron" style="padding: 30px 0px">
    <h1 class="text-center" align="center"><u><i>To Do List</i></u></h1>
</div>

<div class="input-group" align="center">
    <input type="text" #itemTitle style="height:35px;width: 100%" >
    <button class="button"  (click)="onAdd(itemTitle)">Add to My List
        <!--<i class="fa fa-plus-circle fa-2x"></i>-->
    </button>
</div>
<br><br/>
<table>
    <tr>
        <th>Task</th>
        <th>Done/NotDone</th>
        <th>Remove</th>
    </tr>
    <tr *ngFor ="let item of toDoListArray">
        <td>
            {{item.title}}
        </td>
        <td>
            <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
                <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
            </span>
        </td>
        
        <td>
            <button class="button" (click)="onDelete(item.$key)">Completed
                <i class="fa fa-trash-o fa-lg"></i>
            </button>
        </td>
    </tr>
</table>

